{% extends 'maps/base.html' %}
{% load static %}

{% block title %}SusaninMaps{% endblock %}

{% block extraheader %}
<script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=fb7a5e56-ed1e-42cb-a964-401ada1e3cb7" type="text/javascript"></script>
<script src="{% static 'maps/js/groups.js' %}"></script>
<script src="{% static 'maps/js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'maps/js/route_panel_control.js' %}"></script>
<link type="text/css" href="{% static 'maps/css/areaStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="navigator-ui">
    <div id="map" class="map"></div>

    <div class="table" id="table">
        
        <div class="name">
			<p>Общие маршруты</p>
		</div>
        {% for route in static_routes %}
            <div class="route" id="route" data-id="{{ route.id }}" data-points-location="{{ route.places }}">
                <hr>
                <div class="row">
                    <div class="column">
                        <p class="item" id="dateRouteData">{{ route.name }}</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="pointsCountData">Кол-во точек: {{ route.countPoints }} шт</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeTimeData">{{ route.time }}</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeLenghtData">{{ route.distance }}</p>
                    </div>
                    <hr>
                    <div class="column-end">
                        <button onclick="removeRoute(this)">
                            <p class="item">Удалить</p>
                        </button>
                        <button onclick="showRoute(this)">
                            <p class="item">Построить</p>
                        </button>
                    </div>
                </div>
            </div>
        
        {% endfor %}

        <hr>

		<div class="name">
			<p>Сохраненные маршруты</p>
		</div>

        <template id="routeTemplate">
            <div class="route" id="route" data-id="" data-pointsLocation="">
                <hr>
                <div class="row">
                    <div class="column">
                        <p class="item" id="dateRouteData"> Дата </p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="pointsCountData">Кол-во точек: {{ pointsCount }} шт</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeTimeData">Время {{ time }}</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeLenghtData">Длина {{ lenght }}</p>
                    </div>
                    <hr>
                    <div class="column-end">
                        <button onclick="removeRoute(this)">
                            <p class="item">Удалить</p>
                        </button>
                        <button onclick="showRoute(this)">
                            <p class="item">Построить</p>
                        </button>
                    </div>
                </div>
            </div>
        </template>
        
        {% for route in user_routes %}
        {% if route.user.id == user.id %}
            <div class="route" id="route" data-id="{{ route.id }}" data-points-location="{{ route.places }}">
                <hr>
                <div class="row">
                    <div class="column">
                        <p class="item" id="dateRouteData">{{ route.getdatetime}}</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="pointsCountData">Кол-во точек: {{ route.countPoints }} шт</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeTimeData">{{ route.time }}</p>
                    </div>
                    <hr>
                    <div class="column">
                        <p class="item" id="routeLenghtData">{{ route.distance }}</p>
                    </div>
                    <hr>
                    <div class="column-end">
                        <button onclick="removeRoute(this)">
                            <p class="item">Удалить</p>
                        </button>
                        <button onclick="showRoute(this)">
                            <p class="item">Построить</p>
                        </button>
                    </div>
                </div>
            </div>
        
        {% endif %}
        {% endfor %}
	</div>

    <div class="navigator-menu">

        <div class="menu-inp">
            <div class="menu-block">
                <p>
                    <img src="{% static 'maps/images/SettingsIcon.svg' %}" class="setings-img" alt="">
                    Настройки:
                </p>
            </div>

            <div class="menu-block">

                <select class="time-limit" name="time-limit" id="timeLimit">
                    <option selected value="9999">Лимит по времени: авто</option>
                    <option value="10">Лимит по времени: 10мин</option>
                    <option value="20">Лимит по времени: 20мин</option>
                    <option value="30">Лимит по времени: 30мин</option>
                    <option value="40">Лимит по времени: 40мин</option>
                    <option value="50">Лимит по времени: 50мин</option>
                    <option value="60">Лимит по времени: 1ч</option>
                    <option value="70">Лимит по времени: 1ч 10мин</option>
                    <option value="80">Лимит по времени: 1ч 20мин</option>
                    <option value="90">Лимит по времени: 1ч 30мин</option>
                    <option value="100">Лимит по времени: 1ч 40мин</option>
                    <option value="110">Лимит по времени: 1ч 50мин</option>
                    <option value="120">Лимит по времени: 2ч</option>
                </select>
            </div>

            <hr>

            <div class="menu-block">
                <div class="routeInput">
                    <p>Места посещения</p>

                    <img src="{% static 'maps/images/table.png' %}" сlass="table-img" id="tableImage" alt=''>
                </div>

                <div class="points" id="points">
                    <template id="pointTemplate">
                        <div class="point" data-location="">
                            <input type="checkbox" id="isVisit" onclick="" unchecked>
                            <a></a>
                        </div>
                    </template>

                    <a class="pointT" id="clearList">Очистить список</a>
                    <a class="pointT" id="clearMap">Очистить карту</a>
                    <hr>
                </div>

                <div class="routeInput">
                    <button class="button-route" id="buildRouteButton">
                        <p>Построить маршрут</p>
                    </button>
                    <button class="button-route" id="nextRouteButton">
                        <p>Следующий</p>
                    </button>
                    {% if request.user.is_authenticated %}
                    <button class="button-route" id="saveRouteButton" onclick="saveRoute()">
                        <p>Сохранить</p>
                    </button>
                    {% endif %}
                </div>
            </div class="menu-block">

            <hr>

            <div class="menu-block">
                <p>
                    <img src="{% static 'maps/images/InfoIcon.svg' %}" alt="">
                    Информация:
                </p>
            </div>

            <div class="menu-block-inl">
                <img src="{% static 'maps/images/Navigator.png' %}" class="locator-img" alt="">
                <p id="pointsCount">
                    Кол-во точек: {{points}}
                </p>
            </div>

            <div class="menu-block-inl">
                <img src="{% static 'maps/images/Clock.svg' %}" alt="">
                <p id="time">
                    Время: {{time}}
                </p>
            </div>

            <div class="menu-block-inl">
                <img src="{% static 'maps/images/Navigator.png' %}" class="locator-img" alt="">
                <p id="lenght">
                    Длина: {{lenght}}
                </p>
            </div>

        </div>

    </div>
</div>
{% endblock %}