{% extends 'maps/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block extraheader %}
<link type="text/css" href="{% static 'maps/css/formStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="wrapper">
		<div class="title"><span>{{ title }}</span></div>
		<form method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}

			{% for field in form %}
			<div class="row">
				<i class="fas fa-user"></i>
				<label for="{{ field.id_for_label }}">{{ field.label }}</label>
				{% render_field field class='form-control' %}
				<div class="eror">{{ field.help_text }}</div>
				<div class="eror">{{ field.errors }}</div>
			</div>
			{% endfor %}

			<div class="pass">
				{% if "login" in request.path %}
				<a href="#">Забыли пароль?</a>
				{% else %}
				<a href="{% url 'login' %}">Войти?</a>
				{% endif %}
			</div>

			<div class="row button">
				<input type="submit" value="{{ button_text }}">
			</div>
			<div class="signup-link">{{noaccount_text}} <a href="{% url 'signup' %}">{{signupurl}}</a></div>
			<div class="eror">{{ form.non_field_errors }}</div>
		</form>
	</div>
</div>
{% endblock %}