* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    background: #281E32;
    background-size: 100vh;
}


/*------------------------header------------------------*/

header {
    margin-top: 40px;
    width: 100%;
    display: flex;
    box-shadow: 5px 5px -5px rgba(236, 247, 255, 0.6);
    margin-bottom: 40px;
}

.header-logo {
    color: #EDF5E1;
    font-size: 26px;
    text-align: center;
    margin-left: 9.89583%;
    display: flex;
}

.logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav {
    width: 66.6667%;
    position: relative;
}

.nav-menu {
    position: absolute;
    right: 23.4375%;
    top: 50%;
    transform: translate(0, -50%);
}

.nav-menu a {
    color: #EDF5E1;
    font-size: 23px;
    padding-left: 45px;
    padding-bottom: 11px;
}

.nav-menu img {
    vertical-align: text-top;
    margin-right: 5px;
}

.nav-menu a:hover {
    border-bottom: 3px solid #6F7E91;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-menu .icon {
    display: none;
}

hr {
    margin-left: 7.03125%;
    margin-right: 7.03125%;
    border-color: #6F7E91;
}


/*------------------------body------------------------*/

.navigator-ui {
    margin-top: 50px;
    margin-left: 9.89583%;
    width: 80.2083%;
    height: 680px;
    display: flex;
}

.map {
    width: 74.6753%;
    height: 680px;
    background-color: #bcbcbc75;
}

.navigator-menu {
    margin-left: 20px;
    width: 24.02597%;
    height: 680px;
    border-radius: 50px;
}

.menu-inp {
    width: 100%;
    min-height: 330px;
    height: fit-content;
    border-radius: 20px;
    background-color: #ffffff25;
}

.menu-inp a {
    position: relative;
    color: #EDF5E1;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 67px;
    margin-top: 10px;
    top: 30px;
}

.menu-inp img {
    vertical-align: text-top;
    margin-right: 5px;
}


/*------------------------adaptive------------------------*/

@media screen and (max-width: 0px) {
    .nav-menu a {
        display: none;
    }
    .nav-menu a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #EDF5E1;
        font-size: 26px;
    }
    nav {
        width: 100%;
    }
    .nav-menu.responsive {
        position: relative;
        top: 75px;
        left: -230px;
    }
    header .nav-menu.responsive {
        height: 160px;
        margin-bottom: 50px;
    }
    .nav-menu.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -210px;
    }
    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-menu a:hover {
        border-bottom: none;
    }
}